* {
    box-sizing: border-box;
  }
#Carousel{
    overflow: hidden;
    >#row{
        clear: both;
        display: table;
        >#col{
            float: left;
            width: 33.33%;
            padding: 5px;
            animation: 8s ltr;
            &.inactive{
                display: none;
            }
            &.active{
                >#image{
                    height: 100vh; 
                }
                >#label{
                    position: relative;
                    padding-left: 30px;
                    margin-top: -50%;
                    color: white;
                    font-size: 20pt;
                }
            }  
        }
    }
    >row::after{
        content: "";
        clear: both;
        display: table;
    };
}

@keyframes ltr {
    0%   {margin-left:-100%;}
    50%  {margin-left: 0% ;}
    100% {margin-left: 300%;}
}