#Dashboard{
    >#Dashboard-header{
        position: inherit;
        background: rgb(150, 32, 56);
        height: 100vh;
        width: 100vw;
        >iframe{
            height: 100%;
            width: 95%;
        }
        &.inactive{
            display: none;
        }
    }
}