#sidebar{
    //.open
        position: fixed;
        right: 0;
        width: 20%;
        height: 100vh;
        background-color: rgb(150, 32, 56);
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: 1s;
        overflow: hidden;
        >button{
            border: none;
        }
        >#Home{
            margin-top: 50px;
        }
        >p{
            height: 40px;
            display: block;
            color: white;
            padding: 16px;
            text-decoration: none;
            &.active{
                background-color: white;
                color: black;
                font-weight: 700;
                >#icon{
                    filter: drop-shadow(0 0 3px black);
                    fill: rgb(150, 32, 56);
                }
            }
            &:hover:not(.active){
                background-color: rgb(71, 13, 24);
                font-weight: 600; 
                cursor: pointer;
                >#icon{
                    filter: drop-shadow(0 0 3px black);
                    fill: white;
                }           
            }
            >sbtext{
                font-size: larger;
            }
            >#icon{
                display: none;
                fill: rgb(71, 17, 28);
            }
        }
    //.closed
    &.closed{
        width: 4%;
        filter: drop-shadow(0px 0px 0px black);
        >p{
            >sbtext{
                visibility: hidden;
            }
            >#icon{
                position: relative;
                display: block;
                margin-left: -30%;
            }
        }
    }
}