#sidebar{
    position: fixed;
    right: 0;
    height: 100%;
    background-color: rgb(150, 32, 56);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    >span{ //Sidebar text boxes
        position: relative;
        height: 8%;
        display: block;
        color: white;
        text-decoration: none;
        text-align: center;
        white-space: nowrap;
        >#label{
            padding-top: 4%;
            font-size: larger;
        }
        >#icon{
            height: 50%;
            width: 50%;
        }
        &.active{
            background-color: white;
            color: black;
            font-weight: 700;
            >#icon{
                filter: drop-shadow(0 0 3px black);
                fill: rgb(150, 32, 56);
            }
        }
        &:hover:not(.active){
            background-color: rgb(71, 13, 24);
            font-weight: 600; 
            cursor: pointer;
            >#icon{
                filter: drop-shadow(0 0 3px black);
                fill: white;
            }           
        }
    }

    //.open
    &.open{
        transition: 1s;
        width: 400px;

        #toggle{// toggle button
            padding-top: 10px;
            padding-left: 10%;
            filter: drop-shadow(0 0 3px black);
        }
        >span{
            >#icon{
                display: none;
            }
        }
    }
    //.closed
    &.closed{
        width: 80px;
        transition: 0.1s;
        #toggle{
            padding-top: 10px;
            padding-left: 10%;
            filter: drop-shadow(0 0 3px white);
        }
        >span{
            >#label{
                display: none;
            }
            >#icon{
                padding-top: 10%;
                margin-left: auto;
                margin-right: auto;
                fill: rgb(71, 17, 28);
            }
        }
    }
}
